.heading {
  color: #000;
  /* margin-left: 100px; */
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  /* 207.692% */
  margin-top: 40PX;
}

.container_prod {
  margin-left: 100px;
}

.pic {

  background-size: cover;
  height: 500px;
  margin-top: 50px;
  width: 100%;
  /* margin-left: 100px; */
  border-radius: 2%;
  height: 200px;
  position: relative;
  width: 330px;
  border-radius: 16px;
}

.auto {
  /* background-image: url(/lenny-kuhne-jHZ70nRk7Ns-unsplash.jpg); */
  background-image: url(/public/images/lenny-kuhne-jHZ70nRk7Ns-unsplash.jpg);
  width: 330px;
}

.inventory {
  /* background-image: url(/images/inventory.jpeg); */
  background-image: url(/public/images/inventory.jpeg);
}

.con {
  background-image: url(/public/images/consumable.jpg);

}

.CAD {
  background-image: url(/public/images/cad.webp);
}

.title {
  margin-top: 40px;
}

.show {
  width: 197px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #F58E49;
  color: #F7FBFF;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

ul {
  padding-bottom: 0px;

}

@media screen and (min-width:280px) and (max-width:414px) {
  .container_prod {
    justify-content: center;
    margin-left: 0px;
  }

  .info {
    font-size: 10px;

  }

  .title {
    font-size: 12px;
    font-weight: bold;
    margin-left: 12px;

  }

  li {

    text-align: justify;
  }

  .heading {
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
  }

  .show {
    width: 150px;
    font-size: 10px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .pic {
    width: 250px;
    height: 150px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    margin-right: 20px;
  }
}

@media screen and (min-width:420px) and (max-width:768px) {

  .container_prod {
    justify-content: center;
  }

  .heading {
    margin-top: 0px;
  }

  .pic {
    margin-bottom: 20px;
  }

  ul {
    margin-right: 20px;
  }

  .title {
    font-weight: bold;
    margin-left: 25px;
  }

  .show {
    margin-top: 0px;
    margin-left: 25px;
  }

  .pic {
    width: 300px;
    height: 280px;
  }

  .product {
    margin-left: 0px;
  }

}

@media screen and (min-width:540px) and (max-width:540px) {
  .pic {
    margin-left: 10px;
  }
}

@media screen and (min-width:820px) and (max-width:912px) {
  .product {
    margin-left: 0px;
  }

  .product .title,
  .show {
    margin-left: 28px;
  }

  .title {
    font-weight: bold;
    margin-left: 25px;
  }

  .pic {
    height: 300px;
  }

  ul {
    margin-right: 20px;
  }

  .auto {
    margin-top: 50px;
  }

  .inventory {
    margin-top: 90px;
  }

  .con {
    margin-top: 70px;
  }

  .CAD {
    margin-top: 70px;
  }
}

@media screen and (min-width:920px) {
  .pic {
    width: 340px;
  }

  ul {
    margin-right: 20px;
  }

  .title {
    font-weight: bold;
    margin-left: 25px;
  }
}

@media screen and (min-width:1220px) {
  .pic {
    width: 380px;
    height: 230px;
  }

  ul {
    margin-right: 20px;
  }
}