/* .comtainer{
    max-width: 100%;
    width: 100%;
    height: 550px;
}*/
.container img{
    object-fit:cover;
    height: 600px;
    width: 100%;
    /* filter: brightness(50%); */
    opacity: 35%;
    z-index: -1;
    position: absolute;
}
.right img{
    width: 350px;
    height: 350px;
    opacity: 1;
    margin-right: 160px;
    padding-top: 40px;
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
  }
  
  /* .container img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  } */
  
  .heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 40px;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 700;

  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .left {
    flex: 1;
    margin-left:120px ;
  }
  
  .left p {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 700;
  }
  
  .left span {
    font-size: 20px;
    color: rgb(72, 71, 71);
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 500;
    max-width: 200px;

  }
  
  .button {
    display: flex;
    align-items: center;
    margin-top: 75px;
    /* padding: 10px 20px; */
    background-color: #265182;
    width: 261px;
height: 54.309px;
justify-content: center;
border-radius: 16px;
align-items: center;
  }
  
  .button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    z-index: 1;
  }
  
  .button p {
    font-size: 16px;
    color: white;
    align-items: center;
    padding-top: 8px;
    
  }
  
  .callemail {
    margin-top: 42px;
  }
  
  .callemail p {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .call {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  .call img {
    width: 25px;
    height: 25px;
    align-items: flex-start;
    opacity: 1;
    /* padding-bottom: 5px; */
  }
  
  .call p {
    font-size: 22px;
    margin-left: 35px;
    align-items: center;
    font-weight: 500;
    
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .line-4 {
    border-style: solid;
    border-color: #f58e49;
    border-width: 2px 0 0 0;
    width: 43px;
    height: 0px;
    /* position: absolute;
    left: 137px;
    top: 862px; */
  }
  .line-5 {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9);
    border-width: 0.5px 0 0 0;
    width: 200.01px;
    height: 0px;
    /* position: absolute;
    left: 168px;
    top: 916px; */
    transform-origin: 0 0;
    /* transform: rotate(-0.294deg) scale(1, 1); */
    filter: blur(2px);
  }
  
  /* .right img {
    width: 100%;
    height: auto;
  } */
  
  /* Media Query for Responsive Design */
  
  @media screen and (max-width: 428px) {


    
    .container {
      padding: 20px;
      height: 100%;
    }
  
    .container img {
    object-fit:cover;
    width: screen;
    }
  
    
    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
    
    .left {
      flex: 1;
      margin-left:10px ;
    }
    
    .left p {
      font-size: 16px;
      margin-bottom: 10px;
      font-family: "Source Sans Pro-Bold", Helvetica;
      font-weight: 700;
    }
    
    .left span {
      font-size: 20px;
      color: rgb(72, 71, 71);
      font-family: "Source Sans Pro-Bold", Helvetica;
      font-weight: 500;
      max-width: 200px;
  
    }
    
    .button {
      display: flex;
      align-items: center;
      margin-top: 75px;
      /* padding: 10px 20px; */
      background-color: #265182;
      width: 261px;
  height: 54.309px;
  justify-content: center;
  border-radius: 16px;
  align-items: center;
    }
    
    .button img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    
    .button p {
      font-size: 16px;
      color: white;
      align-items: center;
      padding-top: 8px;
      
    }
    
    .callemail {
      margin-top: 42px;
    }
    
    .callemail p {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 600;
    }
    
    .call {
      display: flex;
      align-items: center;
      font-weight: 500;
    }
    
    .call img {
      width: 25px;
      height: 25px;
      align-items: flex-start;
      opacity: 1;
      /* padding-bottom: 5px; */
    }
    
    .call p {
      font-size: 18px;
      margin-left: 35px;
      align-items: center;
      font-weight: 500;
      
    }
    
    .right {
      display: none;
    }
    .right img{
      display: none;
    }
  
    .heading {
      font: 700 14px/22px "Source Sans Pro", sans-serif;
      margin-bottom: 0px;
      padding-top: 0px;
      
  
    }
  }
  