
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
  }
.container img{
    object-fit:cover;
    height: 600px;
    width: 100%;
    /* filter: brightness(50%); */
    opacity: 35%;
    z-index: -1;
    position: absolute;
}